#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.finished {
  text-decoration: line-through;
  color: rgb(216, 12, 12);
  font-size: 17px;
  transition: font-size 0.2s ease;
}
